
body{
			background-image: url('tbbs-BG.png');
		}

input{
	margin: 10px;
	border-radius: 3px;
	width:90px;
	height:30px;
}
h3{
	font-size: 30px;
}


		.loginForm{
			background: white;
			border-radius: 2px;
			margin-top: 50px;
			box-shadow: 0px 0px 15px gray;
			text-align: center;
		}
	

		/*	.loginFormRegister{
			background: white;
			border-radius: 2px;
			margin-top: 10px;
			box-shadow: 0px 0px 15px gray;
			text-align: center;
		}*/
		span{
			color: #7F8FA4;
		}
		input{
			margin-top: 15px;
		}




	
